    <!-- About Section -->
    <section id="about" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-12">
              <br/><br/>
              <h2 style="font-size: 35px"><span style="font-family: Myriad-Pro-Light;">OM Consulting</span><span style="font-family: Myriad-Pro-Ultralight; color: gray">, gehen wir vorwärts</h2>
              <br/>
              <div class="lead" style="font-family: Myriad-Pro-Light;">
              Willkommen bei OM Consulting. Om Consulting zielt darauf ab, Geschäft zwischen Indien und Deutschland/europäischen Ländern zu entwickeln. M
              it fundierten Kenntnissen des technischen und sozioökonomischen Aspekts beider Kreise; Wir glauben, als Beschleuniger mit unserem Konzept arbeiten,
              um die Geschäftsbeziehung zwischen den Kontinenten zu fördern. Unser Spezialgebiet sind die industrielle Fertigung und Infrastrukturprojekte.
              Unser Fokus ist auch auf die grüne Branche wie Solar, Elektromobilität etc. abgesehen von der Herstellung verschiedener mechanischer Komponenten.
              </div>
              <br/><br/>
              </div>
        </div>
    </section>
