    <!-- About Section -->
    <section id="about" class="container content-section text-right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2 style="font-size: 35px"><span style="font-family: SanFranciscoText-Heavy">OM Consulting</span><span style="font-weight: lighter; color: gray"> , Let‘s go forward</h2>
              <br/>
              <div class="lead" style="font-weight: lighter">
              Welcome to OM Consulting. Om Consulting aims to develop business between India and Germany/European countries. With
profound knowledge of technical and socio economic aspect of both counties; we do believe to work as an accelerator with our concept to promote the buisness relationship between the continents.
Our special field is industrial production and projects for infra structure. Our focus is also on the green sector like solar, electro mobility etc. apart from manufacturing various mechanical
components.
              </div>
              <br/><br/>
              </div>
        </div>
    </section>
