<!-- Contact -->
<section id="map"></section>
<section id="contact" style="margin-top: 50px; margin-bottom: 50px">
          <div class="container">
            <div class="row">
              <div class="col-md-4 "></div>
                <div class="col-md-4 text-center">
                    <h2 class="section-heading" style="font-family: Myriad-Pro-Light; font-size: 40px">Contact Us</h2>
                </div>
              <div class="col-md-4 "></div>
            </div>
             <div class="row">
                <div class="col-md-4 "></div>
                <div class="col-md-4 text-center" style="margin-top:20px; font-family:'Myriad-Pro-Light'; font-size:20px;">
                +49 176 24474420
							</br><a style="color:#3f3f3f" href="mailto:info@om-consultant.com">info@om-consultant.com</a>
						</br></br>Magdalenenstrße 8</br>88046 Friedrichshafen</br>Germany</br></br></br>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
              <div class="col-md-4 "></div>
              <div class="col-md-4 text-center" style="margin-left:12px">
                  <ul class="list-inline social-buttons">
                      {% for network in site.social %}
                      <li><a href="{{ network.url }}" style="font-size: 30px; color: black"><i class="fa fa-{{ network.title }}"></i></a>
                      </li>&nbsp;&nbsp;&nbsp;
                      {% endfor %}
                  </ul>
              </div>
              <div class="col-md-4 "></div>
          </div>
        </div>
  </section>
