<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border: none">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home" style="font-family: Myriad-Pro-Light; color: black">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	  <li>
                    <a class="page-scroll" href="#about" style="font-size: 18px; font-family: Myriad-Pro-Light; color: black">{{ site.nav-links.about[page.lang] }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services" style="font-size: 18px; font-family: Myriad-Pro-Light; color: black">{{ site.nav-links.services[page.lang] }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team" style="font-size: 18px; font-family: Myriad-Pro-Light; color: black">{{ site.nav-links.team[page.lang] }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact" style="font-size: 18px; font-family: Myriad-Pro-Light; color: black">{{ site.nav-links.contact[page.lang] }}</a>
                </li>
                <li>
                    <a href="/" class="de"><h6 class="flag-icon flag-icon-de"></h6></a>
                </li>
                <li>
                    <a href="/index.en.html" class="en"><h6 class="flag-icon flag-icon-gb"></h6></a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">
  <!--  <video autoplay loop muted class="intro-bgvid">
      <source src="https://pawelgrzybek.com/photos/2015-12-06-codepen.webm" type="video/webm">
      <source src="https://pawelgrzybek.com/photos/2015-12-06-codepen.mp4" type="video/mp4">
    </video> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<div class="intro-message">
						<h1>{{ site.title }}</h1>
						<h2>{{ site.subTitle }}</h2>
						<!-- <hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							{% for social in site.social %}
							<li>
								<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
						</ul> -->
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>
