<section id="team" class="container content-section">
  <div id="sequence" class="seq">
    <div class="seq-screen">
      <ul class="seq-canvas">
        <li>
          <div class="seq-model">
            <img data-seq src="img/intro-bg.jpg">
          </div>
          <div class="seq-title">
            <h2 data-seq style="font-family: Myriad-Pro-Light; font-size: 30px">Shyamal Ghosh</h2>
            <h3 data-seq style="font-family: Myriad-Pro-Light;"><span style="font-size: 22px;">B.Sc. (Hons) DDDDDDiplomingenieur</span><br /><br />35 years of experience in <br />production and project <br />management in the German <br />Industry</h3>
          </div>
        </li>
        <li>
          <div class="seq-model">
            <img data-seq src="img/intro-bg.jpg">
          </div>
          <div class="seq-title">
            <h2 data-seq style="font-family: Myriad-Pro-Light; font-size: 30px">Mahua Ghosh</h2>
            <h3 data-seq style="font-family: Myriad-Pro-Light;"><span style="font-size: 22px;">M.Sc. (Economist)</span><br /><br />17 years of experience in <br />Insurance Industry in India <br />and 10 years of teaching <br />experience in Buisness <br />studies in Germany</h3>
          </div>
        </li>
      </ul>
    </div>
    <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
      <button type="button" class="seq-prev" aria-label="Previous">Previous</button>
      <button type="button" class="seq-next" aria-label="Next">Next</button>
    </fieldset>
  </div>
</section>
